.hero-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $darkViolet;
  padding: 2.5rem 0;

  &-text{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    color: $white;
    padding: $spacing-base;
  }

  &-title{
    font-family: $dmSerifDisplay;
    font-size: $font-size-xxl + 1.25rem;
  }
  &-image{
    margin: 0 auto;
  }
}

.view-plan-button{
  border: $spacing-primary solid $white;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  padding: $spacing-sm $spacing-lg;
}