html {
  box-sizing: 'border-box';
}

*,
*::before,
*::after {
  box-sizing: 'inherit';
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $karla;
  font-size: $font-size-base;
  overflow-x: hidden;

  @media (max-width: 992px) {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

header,
main,
footer,
section,
article,
aside,
caption,
figure {
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol,
li,
code,
blockquote {
  display: block;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  max-height: 100%;
}